# vim:ft=conf

# MacPorts base repository
create repository macports-base
end repository

# MacPorts portfiles
create repository macports-ports
end repository

# The trunk/doc-new folder which we use to generate the guide
create repository macports-guide
end repository

# Repository for the code running on the website
create repository macports-www
end repository

# Contributed parts
create repository macports-contrib
end repository

# Repository for Pallet, because some GSoCs worked on it and it doesn't make
# sense to put it as a branch to macports-base.
create repository pallet
end repository

# Repository for mpbb, we're splitting it out
create repository mpbb
end repository

# Repository for infrastructure things
create repository macports-infrastructure
end repository

# User repositories
# Generate list using
#   svn ls https://svn.macports.org/repository/macports/users | sed -E 's#/$##' | while read repo; do
#     printf "create repository macports-user-%s\nend repository\n" "$repo"
#   done
create repository macports-user-afb
end repository
create repository macports-user-anddam
end repository
create repository macports-user-armahg
end repository
create repository macports-user-blb
end repository
create repository macports-user-cal
end repository
create repository macports-user-chunyang
end repository
create repository macports-user-devans
end repository
create repository macports-user-dports
end repository
create repository macports-user-dweber
end repository
create repository macports-user-easieste
end repository
create repository macports-user-eborisch
end repository
create repository macports-user-elelay
end repository
create repository macports-user-eridius
end repository
create repository macports-user-febeling
end repository
create repository macports-user-fotanus
end repository
create repository macports-user-g5pw
end repository
create repository macports-user-gaurav
end repository
create repository macports-user-ged
end repository
create repository macports-user-giorgio_v
end repository
create repository macports-user-hum
end repository
create repository macports-user-imajes
end repository
create repository macports-user-ionic
end repository
create repository macports-user-jmpp
end repository
create repository macports-user-jmr
end repository
create repository macports-user-juanger
end repository
create repository macports-user-khindenburg
end repository
create repository macports-user-kimuraw
end repository
create repository macports-user-krischik
end repository
create repository macports-user-landonf
end repository
create repository macports-user-larryv
end repository
create repository macports-user-mk
end repository
create repository macports-user-mmoll
end repository
create repository macports-user-mnick
end repository
create repository macports-user-mojca
end repository
create repository macports-user-mps
end repository
create repository macports-user-mww
end repository
create repository macports-user-nox
end repository
create repository macports-user-perry
end repository
create repository macports-user-petr
end repository
create repository macports-user-pguyot
end repository
create repository macports-user-pixilla
end repository
create repository macports-user-raimue
end repository
create repository macports-user-rhwood
end repository
create repository macports-user-rmstonecipher
end repository
create repository macports-user-ryandesign
end repository
create repository macports-user-saispo
end repository
create repository macports-user-scantor
end repository
create repository macports-user-sfiera
end repository
create repository macports-user-toby
end repository
create repository macports-user-wms
end repository
create repository macports-user-yves
end repository

# User projects that should be separate repositories
create repository pclauncher
end repository

create repository leftovers
end repository

#########
# TRUNK #
#########
# Convert /trunk/* folders into their appropriate target repository
match /trunk/base/portmgr/jobs/
	repository macports-infrastructure
	branch master
	prefix jobs/
end match

match /trunk/base/
	repository macports-base
	branch master
end match
match /trunk/doc/
	repository macports-guide
	branch doc-old
end match
match /trunk/doc-new/
	repository macports-guide
	branch master
end match
# Remove automatically committed PortIndex and PortIndex.quick files
match /trunk/dports/(PortIndex|PortIndex.quick)
end match
# Remove accidentally committed files
match /trunk/(lang|multimedia|sysutils|test)/
	# https://trac.macports.org/changeset/150876
	# https://trac.macports.org/changeset/145755
	# https://trac.macports.org/changeset/133620
	# https://trac.macports.org/changeset/19641
end match
match /trunk/dports/
	repository macports-ports
	branch master
end match
match /trunk/www/
	repository macports-www
	branch master
end match
match /trunk/[^/]+
	action recurse
end match

############
# BRANCHES #
############
# There should be one entry for each branch that we're going to keep here.

# Drop a number of branches we no longer need
match /branches/APPLE/
end match
match /branches/foo/
	# Accidentally created
end match
match /branches/fooo/
	# Accidentally created, see https://trac-test.macports.org/changeset/23636
end match
match /branches/gsoc-11-rev-upgrade/
	# Accidentally created, note the incorrect naming scheme for GSoC branches
end match
match /branches/gsoc11-rev-upgrade/
	# Merged & deleted
end match
match /branches/gsoc08-logging/
	# Deleted, see https://trac.macports.org/changeset/49339
end match
match /branches/gsoc08-mpwa/
	# Deleted, see https://trac.macports.org/changeset/49339
end match
match /branches/gsoc15-portfile-generator/
	# Deleted, see https://trac.macports.org/changeset/137074
end match
match /branches/new-help-system/
	# Merged & deleted, see https://trac.macports.org/changeset/123003
end match
match /branches/pixilla-mysqls-55/
	# Deleted, see https://trac.macports.org/changeset/124377
end match
match /branches/python-frameworks/
	# Merged & deleted, see https://trac.macports.org/changeset/37822
end match
match /branches/(doc-new-test|simon-doc-test)/
	# Merged & deleted, see https://trac.macports.org/changeset/31832
	# See also https://trac.macports.org/changeset/31209 for the doc-new-test
	# name
end match
match /branches/variant-descs-14482/
	# Merged & deleted, see https://trac.macports.org/changeset/49338
end match

# bigmove has base/ and dports/, create appropriate branches in their repos.
# Put the README file into base.
match /branches/(bigmove)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(bigmove)/(base|README)/
	repository macports-base
	branch \1
end match
match /branches/(bigmove)/dports/
	repository macports-ports
	branch \1
end match

# gsoc08-framework only has only Pallet-specific code. Put that into a separate
# repo (along with the rest of the Pallet code from contrib/)
match /branches/(gsoc08-framework)/
	repository pallet
	branch \1
end match

# gsoc09-gui has a base/ folder and some GUI stuff; let's branch the base off
# macports-base and put the rest into Pallet's repository.
match /branches/(gsoc09-gui)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(gsoc09-gui)/base/
	repository macports-base
	branch \1
end match
match /branches/(gsoc09-gui)/
	repository pallet
	branch \1
end match

# gsoc10-configfiles has
#  - base/, which we'll branch off macports-base,
#  - code-submit/, which we'll ignore
#  - tools/, which is helpful, so we'll put it into macports-base (which will
#    work because base doesn't have a tools subfolder)
match /branches/(gsoc10-configfiles)/code-submit/
	# Just the code submission for Google after GSoC, no point in keeping, the
	# same code is in the repo
end match
match /branches/(gsoc10-configfiles)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(gsoc10-configfiles)/base/
	repository macports-base
	branch \1
end match
match /branches/(gsoc10-configfiles)/tools/
	repository macports-base
	branch \1
	prefix tools/
end match

# gsoc10-gui contains Pallet code, move it to pallet's repo
match /branches/(gsoc10-gui)/
	repository pallet
	branch \1
end match

# mpwa now lives in contrib, let's move gsoc10-mpwa there as well
match /branches/(gsoc10-mpwa)/
	repository macports-contrib
	branch \1
end match

# gsoc11-statistics has changes to base and a server component. Let's keep the
# server + docs in a contrib branch for now.
match /branches/(gsoc11-statistics)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(gsoc11-statistics)/base/
	repository macports-base
	branch \1
end match
match /branches/(gsoc11-statistics)/docs/
	repository macports-contrib
	branch \1
	prefix stats-server/docs/
end match
match /branches/(gsoc11-statistics)/
	repository macports-contrib
	branch \1
end match

# gsoc13-tests is a direct branch off base/
match /branches/(gsoc13-tests)/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(gsoc13-tests)/
	repository macports-base
	branch \1
end match

# gsoc14-cleanup is a direct branch off base/
match /branches/(gsoc14-cleanup)/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(gsoc14-cleanup)/
	repository macports-base
	branch \1
	min revision 123738
	# The branch was deleted and re-created based on top of a svn copy of macports trunk
	# See https://trac.macports.org/log/branches/gsoc14-cleanup?action=stop_on_copy&mode=stop_on_copy&rev=123736&stop_rev=&limit=100
	# and https://trac.macports.org/log/branches/gsoc14-cleanup?action=stop_on_copy&mode=stop_on_copy&rev=124046&stop_rev=&limit=100
end match
match /branches/(gsoc14-cleanup)/
	# ignore all branches named gsoc14-cleanup before 123738, they were removed later
	max revision 123738
end match

# gsoc14-interactive has a base folder and some aux files; we're just going to
# put the aux files into a subfolder
match /branches/(gsoc14-interactive)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(gsoc14-interactive)/base/
	repository macports-base
	branch \1
end match
match /branches/(gsoc14-interactive)/
	repository macports-base
	branch \1
	prefix gsoc14-interactive/
end match

# gsoc14-pip2port was later copied to contrib in https://trac.macports.org/changeset/125293
# Let's keep its history there
match /branches/(gsoc14-pip2port)/
	repository macports-contrib
	branch master
	prefix pypi2port/
end match

# gsoc15-pallet contains pallet code and should thus go to its repo
match /branches/(gsoc15-pallet)/
	repository pallet
	branch \1
end match

# gsoc15-portfile has a copy of base and all sorts of additional folders and
# files that we'll move into a subfolder of base 
match /branches/(gsoc15-portfile)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(gsoc15-portfile)/base/
	repository macports-base
	branch \1
end match
match /branches/(gsoc15-portfile)/
	repository macports-base
	branch \1
	prefix gsoc15-portfile/
end match

# jkh-destrootification is a complete branch off trunk/. Let's map the
# approriate subfolders. Additionally, there's a Makefile and a couple of
# READMEs, which however, are very generic and thus not really worth keeping.
match /branches/(jkh-destrootification)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(jkh-destrootification)/base/
	repository macports-base
	branch \1
end match
match /branches/(jkh-destrootification)/doc/
	# We aren't interested in this stale branch
end match
match /branches/(jkh-destrootification)/dports/
	repository macports-ports
	branch \1
end match
match /branches/(jkh-destrootification)/www/
	# We aren't interested in this stale branch
end match

# kevin-target-api is a complete branch off trunk/. Let's map the approriate
# subfolders. Additionally, there's a Makefile and a couple of READMEs, which
# however, are very generic and thus not really worth keeping.
match /branches/(kevin-target-api)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(kevin-target-api)/base/
	repository macports-base
	branch \1
end match
match /branches/(kevin-target-api)/doc/
	# We aren't interested in this stale branch
end match
match /branches/(kevin-target-api)/dports/
	repository macports-ports
	branch \1
end match
match /branches/(kevin-target-api)/www/
	# We aren't interested in this stale branch
end match

# larryv-mpvim-rewrite is branching off contrib's mpvim
match /branches/(larryv-mpvim-rewrite)/
	repository macports-contrib
	branch \1
	prefix mpvim/
end match

# the subversion-subports branch was renamed in https://trac.macports.org/changeset/109784
match /branches/subversion-subports/dports/
	repository macports-ports
	branch larryv-subversion-subports
end match
# larryv-subversion-subports is a branch off dports
match /branches/(larryv-subversion-subports)/dports/
	repository macports-ports
	branch \1
	min revision 109785
end match
match /branches/subversion-subports/dports/
	# Ignore the copy to avoid triggering
	# WARN: backing up branch "larryv-subversion-subports" to "refs/backups/r109784/heads/larryv-subversion-subports"
	max revision 109784
end match

# launchdproto branches off base and has a couple of README files for
# darwinports in different lanuguages. We're going to drop the READMEs for the
# lack of a better place to put them.
match /branches/(launchdproto)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(launchdproto)/base/
	repository macports-base
	branch \1
end match

# mld-qt-481 is a complete branch off trunk/. Let's map the approriate
# subfolders. Additionally, there's a Makefile and a .gitignore, which however,
# are very generic and thus not really worth keeping.
match /branches/(mld-qt-481)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(mld-qt-481)/base/
	repository macports-base
	branch \1
end match
match /branches/(mld-qt-481)/doc/
	# We aren't interested in this stale branch
end match
match /branches/(mld-qt-481)/doc-new/
	# We aren't interested in this stale branch
end match
match /branches/(mld-qt-481)/dports/
	repository macports-ports
	branch \1
end match
match /branches/(mld-qt-481)/www/
	# We aren't interested in this stale branch
end match

# qt4-mac-move-to-libexec is (unfortunately) a copy of trunk/. Let's map the
# approriate subfolders inside trunk/ back where they belong.
match /branches/(qt4-mac-move-to-libexec)/trunk/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(qt4-mac-move-to-libexec)/trunk/base/
	repository macports-base
	branch \1
end match
match /branches/(qt4-mac-move-to-libexec)/trunk/doc/
	# We aren't interested in this stale branch
end match
match /branches/(qt4-mac-move-to-libexec)/trunk/doc-new/
	# We aren't interested in this stale branch
end match
match /branches/(qt4-mac-move-to-libexec)/trunk/dports/
	repository macports-ports
	branch \1
end match
match /branches/(qt4-mac-move-to-libexec)/trunk/www/
	# We aren't interested in this stale branch
end match

# Handle release_1_4 specially, because it was initially created as a copy of
# base in r22198, and had its content moved into a base subfolder in r23202 to
# match the other branches. We'll hide this.
match /branches/(release_1_4)/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
	max revision 23201
end match
match /branches/(release_1_4)/
	repository macports-base
	branch \1
	max revision 23201
end match
match /branches/(release_1_4)/
	# Ignore the copy operation completely
	min revision 23202
	max revision 23202
end match
match /branches/(release_1_4)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
	min revision 23203
end match
match /branches/(release_1_4)/base/
	repository macports-base
	branch \1
	min revision 23203
end match

# The branches
#  - dp2mp-move
#  - dp_light-olegb
#  - gsoc08-privileges
#  - gsoc09-logging
#  - gsoc11-post-destroot
#  - gsoc15-dependency
#  - images-and-archives
#  - jberry-dropprivs
#  - jberry-preview13
#  - landonf-1_0
#  - portgroups-selector
#  - release_[^/]+
#  - rshaw-archivemode
#  - ssen-platform-[12]
#  - universal-sanity
#  - vcs-fetch
#  - wbb4-versionfoobage-1
#  - wbb4_versionfoobage_base
# all have nothing but a base folder
match /branches/(dp2mp-move|dp_light-olegb|gsoc08-privileges|gsoc09-logging|gsoc11-post-destroot|gsoc15-dependency|images-and-archives|jberry-dropprivs|jberry-preview13|landonf-1_0|portgroups-selector|release_[^/]+|rshaw-archivemode|ssen-platform-[12]|universal-sanity|vcs-fetch|wbb4-versionfoobage-1|wbb4_versionfoobage_base)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
end match
match /branches/(dp2mp-move|dp_light-olegb|gsoc08-privileges|gsoc09-logging|gsoc11-post-destroot|gsoc15-dependency|images-and-archives|jberry-dropprivs|jberry-preview13|landonf-1_0|portgroups-selector|release_[^/]+|rshaw-archivemode|ssen-platform-[12]|universal-sanity|vcs-fetch|wbb4-versionfoobage-1|wbb4_versionfoobage_base)/base/
	repository macports-base
	branch \1
end match
# Handle branches/release1 different to rename it to release_1, which matches the other release branches
match /branches/release1/base/portmgr/jobs/
	repository macports-infrastructure
	branch release_1_0
	prefix jobs/
end match
match /branches/release1/base/
	repository macports-base
	branch release_1_0
end match

# xterm-titles only branches base, but was branched twice; ignore the first
# deleted branch
match /branches/(xterm-titles)/base/portmgr/jobs/
	repository macports-infrastructure
	branch \1
	prefix jobs/
	min revision 66301
end match
match /branches/(xterm-titles)/base/
	repository macports-base
	branch \1
	min revision 66301
	# See https://trac.macports.org/changeset/66299 and https://trac.macports.org/changeset/66300
end match
match /branches/xterm-titles/
	# Everything that falls though until here wasn't caught by the rules above
	# and can simply be ignored
	max revision 66300
end match

match /branches/[^/]+
	action recurse
end match


###########
# CONTRIB #
###########
# Most of contrib/ stays as it is. Only Pallet-related code will move to
# a separate repository for easier branch tracking across the GSoC branches
match /contrib/(MacPorts_Framework|Pallet)/
	repository pallet
	branch master
	prefix \1/
end match

match /contrib/mpab/
	repository mpbb
	branch mpab
end match

match /contrib/mp-buildbot/
	repository mpbb
	branch master
end match

match /contrib/buildbot/
	repository macports-infrastructure
	branch buildbot-mpab
	prefix buildbot/
end match

match /contrib/buildbot-test/
	repository macports-infrastructure
	branch master
	prefix buildbot/
end match

match /contrib/
	repository macports-contrib
	branch master
end match

#########
# USERS #
#########
# Explicitly drop dluke's user repo, it was deleted 8 years ago
match /users/dluke/
end match

# Remove pipping's user repo that contains a bunch of 9 year old binaries
match /users/pipping/
end match

# Remove jberry's user repo that contains 9 year old dumps of opendarwin
# archives and wiki
match /users/jberry/
end match

# Move ryandesign's PCLauncher into a separate repository.
match /users/ryandesign/PCLauncher/
	repository pclauncher
	branch master
end match

# Split user folders into separate repos
match /users/([^/]+)/
	repository macports-user-\1
	branch master
end match

match /users
	action recurse
end match

#########################
# DISTFILES & DOWNLOADS #
#########################
match /distfiles/
	## drop distfiles
	#repository macports-distfiles
	#branch master
end match

match /downloads/
	## drop downloads
	#repository macports-downloads
	#branch master
end match

########
# TAGS #
########
match /tags/release_2_2_0-archive/base/
	# ignore /tags/release_2_2_0-archive/base before 108411
	# r108409 incorrectly created this, r108410 deleted it, r108411 created it correctly
	max revision 108410
end match
match /tags/release_2_3_4/
	# ignore /tags/release_2_3_4 before 140726
	# r140722 incorrectly tagged, r140723 deleted tag, r140724-r140725 fixed, r140726 created fixed tag
	max revision 140725
end match
match /tags/release_1_4_0-archive/
	# ignore /tags/release_1_4_0-archive before 23641
	# r23639 incorrectly tagged, r23640 deleted tag, r23641 created fixed tag
	max revision 23640
end match
match /tags/release_1_4-rc2/
	# release_1_4-rc2 was never a valid tag name
	# r22788 created, r22789 deleted, r22790 created with the correct name
end match
# Handle release_1_4_0-rc1 and release_1_4_0-rc2 specially, because they were
# tagged from the release_1_4 branch at a time when it did not contain a base
# folder, but was a copy of base. See r22198, which copied it, and r23202,
# which created the base subfolder.
match /tags/(release_1_4_0-rc[12])/
	repository macports-base
	branch refs/tags/\1
	annotated true
end match
match /tags/release_1_4_0/
	# ignore /tags/release_1_4_0 before 23203
	# the release_1_4_0 tag was created and deleted multiple times; it wasn't
	# until r23203 that the tag was finally in the right state, so ignore
	# everything older than that.
	max revision 23202
end match
match /tags/([^/]+)/base/
	repository macports-base
	branch refs/tags/\1
	annotated true
end match
match /tags/([^/]+)/doc/
	repository macports-guide
	branch refs/tags/doc-old-\1
	annotated true
end match
match /tags/([^/]+)/doc-new/
	repository macports-guide
	branch refs/tags/\1
	annotated true
end match
match /tags/([^/]+)/dports/
	repository macports-ports
	branch refs/tags/\1
	annotated true
end match
match /tags/([^/]+)/www/
	repository macports-www
	branch refs/tags/\1
	annotated true
end match
match /tags/gimp_1_3_15/
	# We don't need this tag, see https://trac-test.macports.org/changeset/2927/
end match

match /tags/[^/]+
	action recurse
end match

# Catchall for any leftovers so we can easily check what they are
match /
	repository leftovers
	branch master
end match
